body {
    margin: 0;
}
nav {
    background: #163370;
    text-align: center;
}

nav ul {
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 20px;
}

nav a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.profile {
    display: flex;
}

.profile img {
    width: 150px;
    border-radius: 50%;
}

main {
    padding: 0 15px;
}

h2 {
    color: #163370;
    border-bottom: 2px solid #163370;
}

footer {
    background: #163370;
    color: #fff;
    text-align: center;
    padding: 15px;
}

@media (max-width: 992px) {
    .profile img {
        width: 130px; 
    }
}

@media (max-width: 768px) {
    .profile img { 
        width: 120px;
    }
}

@media (max-width: 576px) {
    .profile img { 
        width: 100px; 
    }
    h2 { 
        font-size: 1.3em; 
    }
    main { 
        padding: 0 10px; 
    }

}
